.section-relative {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1260px) {
  .section-relative {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .section-relative {
    width: 100%;
  }
}
.flip-section {
  position: relative;
  background-color: white;
  width: 70%;
  height: auto;
  perspective: 1000px;
  border: none;
}

.flip-section-inner {
  width: 100%;
  height: auto;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: grid;
  grid-template: 1fr / 1fr;
}

.flip-section-front,
.flip-section-back {
  grid-area: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 7rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5%;
  padding: 3rem;
  box-sizing: border-box;
}

.flip-section-front {
  color: black;
  background-color: white;
  border-top: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  transition: ease 1s;
  z-index: 2;
}

.flip-section-back {
  color: white;
  transform: rotateY(180deg);
  background-color: #1b242f;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.6);
}

@media (max-width: 900px) {
  .flip-section {
    width: 90%;
  }

  .flip-section-front,
  .flip-section-back {
    gap: 3rem 4rem;
    padding: 2rem;
  }
}
